 /* Sticky footer
 -------------------------------------------------- */
 .footer {
  position: relative;
  bottom: 0;
  /* width: 100%; */
  z-index: 9999; 
  /* height: 200px; */
  /* padding: 24px 0 24px 0; */
  display: block;
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.90); /* semi-transparent background */

}



@media (max-width: 991px) {
  .ca-footer {
    margin-top: 50px;
    width: 100%;
    /* padding-left: 18px;
    padding-right: 18px; */
  }
}

@media (min-width: 992px) {
  .ca-footer {
    padding-top: 24px;
    left: calc(1 * (100% / 14));
    right: calc(1 * (100% / 14));
    /* padding-top: 20px; */
    /* background-color: #fff; */
    /* padding-left: 30px;
    padding-right: 30px; */
  }
}


.footer p,
.footer-link,
.footer-link a
.overlay-footer .footer p,
.overlay-footer .footer-link,
.overlay-footer .footer-link a {
  /* color: #800300 !important; */
  /* color: #C8C8C8 !important; */
  /* color: rgba(0, 0, 0, 0.56); */
  color: #808080; 
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1em;
  line-height: 175%;
}

@media (max-width: 991px) {
    .footer p,
    .footer-link,
    .footer-link a, 
    .overlay-footer .footer p,
    .overlay-footer .footer-link,
    .overlay-footer .footer-link a  {
      font-size: .65rem;
    }
}

@media (min-width: 992px) {
  .footer p,
  .footer-link,
  .footer-link a {
    font-size: .75rem;
  }
}

.footernav-links {
  margin-bottom: 25px;
}

.footernav-copyr {
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer-link a,
.footer-link a:hover {
  cursor: pointer;
}

.footer-link.active,
.footer-link a.active,
.footer-link:hover,
.footer-link:active  a::after {
  color: #800300 !important;
  font-family: "ministry","helvetica neue", sans-serif;
  font-style: italic;
  font-weight: 500;
  text-decoration: none;
  /* letter-spacing: .25em; */
  /* text-transform: uppercase; */
  /* border-bottom: 2px #800300 solid;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0; */
}
