
/* SVGs
 -------------------------------------------------- */
.svg-responsive {
  height: 100%;     /* Responsive, 50% of the container's width */
  width: auto;   /* Maintain aspect ratio */
}

/* general svg-hover  */

/* Hide the second SVG initially */
.svg-italics svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.svg-italics:hover svg:nth-child(1) {
  display: none;
}

.svg-italics:hover svg:nth-child(2) {
  display: inline;
}


/* Full-Width
 -------------------------------------------------- */
/* full-width on xs */
@media screen and (max-width: 575px) {
  .full-width {
    padding: 0;
    margin: 0;
  }
  .full-width-left {
    padding-left: 0;
    /* padding-right: 0; */
    margin-right: 0;
  }
  .full-width-right {
    /* padding-left: 0; */
    padding-right: 0;
    margin-left: 0;
  }
}

/* full-width on sm */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .full-width {
    padding: 0;
    margin: 0;
  }

  .full-width-left {
    padding-left: 0;
    /* padding-right: 0; */
    margin-right: 0;
  }

  .full-width-right {
    /* padding-left: 0; */
    padding-right: 0;
    margin-left: 0;
  }
}



/* Images
 -------------------------------------------------- */
 
 .gallery-feature {
    margin-bottom: 25px;
  }
  
  img.img-border {
    border: 1px solid #DDDEE0;
  }
  
  .gallery-image-lg {
    margin: 4% 0;
  }
  
  .image-shadow-left {
    margin-left: -5%;
  }
  
  .image-shadow-right {
    margin-right: -5%;
  }
  
  /* xs */
  @media (max-width: 499px) {
    /* so  */
    .logos-grid {
      max-width: 125%;
      margin: -2% -30% 0 -2%;
    }
  
    .logos-gif {
      padding-top: 0; 
      margin-left: -6%; 
      max-width: 125%;
    }
  
    .products-img-left {
      max-width: 130%; 
      margin: 0 0 0 -22%; 
    }
  
    .products-img-right {
      max-width: 130%; 
      margin: 0 5% 0 -10%; 
    }
  
    .notes-gif {
      max-width: 135%;
      margin-left: -17%;
      margin-top: -3%;
    }
  }
  
  /* sm  */
  @media screen and (min-width: 500px) and (max-width:767px) {
    .logos-grid {
      max-width: 120%;
      margin: -2% -2% 0 -17%;
    }
    
    .logos-gif {
      padding-top: 0; 
      margin-left: 2%; 
      max-width: 115%;
    }
  }
  
  /* xs, sm */
  @media (max-width: 767px) {
    .gallery-feature {
      margin-bottom: 20px;
    }
    .gallery-image {
      margin: 8% 0;
    }
  
    /* so  */
    img.gif, 
    picture.gif {
      max-width: 109%;
      margin: 0 -12% 0 -2%;
    }
  
    .icons-img {
      max-width: 101%; 
      margin-left: 0%;
    }
  
    .wp-print {
      margin: 0 -4%; 
      max-width: 107%;
    }
  
    .wp-gif {
      max-width: 120%; 
      margin-left: -10%; 
      margin-top: -2%; 
    }
  
    .products-img,
    .downloads-two {
      max-width: 118%;
      margin-left: -9%;
    }
  
    .notes-gif {
      max-width: 135%;
      margin-left: -17%;
      margin-top: -3%;
    }
  
    .alphabet-img {
      max-width: 105%;
      margin-left: -2%; 
    }
  
  }
  
  /* md  */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .gallery-feature {
      margin-bottom: 25px;
    }
  
    .gallery-image {
      /* margin: 15px 0; */
      margin: 8% 0;
    }
  
    /* so  */
    img.gif, 
    picture.gif {
      max-width: 100%; 
      margin: 0 -10% 0 -5%; 
    }
  
    .logos-grid {
      max-width: 110%;
      margin: -2% -5% 0 -5%;
    }
  
    .logos-gif {
      margin-left: 14%; 
      margin-bottom: 0;
    }
  
    .wp-print {
      margin: 0 -4%; 
      max-width: 107%;
    }
  
    .wp-gif {
      max-width: 112%; 
      margin-left: -5%; 
      margin-bottom: -2%; 
    }
  
    .products-img {
      max-width: 109%;
      margin-left: -5%;
    }
  
    .downloads-cover {
      max-width: 115%; 
      margin: 0 0 0 -1%;
    }
  
    .downloads-three {
      max-width: 100%; 
      margin: 0 0 0 0;
    }
  
    .notes-gif {
      max-width: 130%;
      margin-left: -15%; 
    }
  
    .alphabet-img {
      max-width: 105%;
      margin-left: -2%; 
    }
  }
  
  /* lg and up */
  @media (min-width: 992px) {
    .gallery-image {
      /* margin: 15px 0; */
      margin: 8% 0;
    }
  
    /* so */
    .logos-grid {
      max-width: 110%;
      margin: -2% -5% 0 -5%;
    }
  
    .logos-gif {
      margin-left: -7%;
      max-width: 115%;
    }
  
  
    .wp-print {
      margin: 0 -4%; 
      max-width: 108%;
    }
  
    .wp-gif {
      max-width: 113%; 
      margin-left: -5%; 
      margin-bottom: -2%; 
    }
    
    .products-img {
      max-width: 110%;
      margin-left: -6%;
    }
  
    .downloads-img {
      max-width: 100%; 
      margin: 0 -5% 0 17%;
    }
  
    .downloads-cover {
      max-width: 115%;
      margin: 0 0 0 -6%;
    }
  
    .downloads-three {
      max-width: 100%;
      margin: 0 0 0 -1.5%;
    }
  
    .notes-gif {
      max-width: 121%;
      margin-left: -3%;
      margin-top: -2%;
    }
  
    .alphabet-img {
      max-width: 105%;
      margin-left: -2%; 
    }
  
  }
  
  @media (min-width: 1200px) {
    .gallery-image {
      /* margin: 15px 0; */
      margin: 8% 0;
    }
  
    /* so */
    .logos-grid {
      max-width: 105%;
      margin: 0 0 0 -4%;
    }
  
    .logos-gif {
      margin-left: -5%;
      max-width: 115%;
    }
  
    
    .products-img {
      max-width: 100%;
      margin-left: 0%;
    }
  
    .downloads-cover {
      max-width: 110%; 
      margin: 0 0 0 -5%;
    }
  
    .notes-gif {
      max-width: 122%;
      margin-left: -4%;
      margin-top: -2%;
    }
  
  }