
/* overwrite Bootstrap defaults 
-------------------------------------------------- */
.navbar-toggler {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  border-image-width: 0 !important;
}



/* Custom navbar-toggler:
  md and down
-------------------------------------------------- */
.ca-toggler-btn, 
.overlay-close-wrapper {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.ca-toggler {
  padding-top: 5px;
}
  
  
/* NAV OVERLAY
md and down
-------------------------------------------------- */

#navOverlay {
  opacity: 0;
  transform: translateX(-100%); /* Adjust as needed */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Adjust timing */
  /* other styles for overlay */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.99); /* semi-transparent background */
}

/* Open state */
#navOverlay.open {
  /* opacity: 1; */
  opacity: 1;
  transform: translateX(0); /* Fully visible position */
}

/* @media (max-width: 991px) { */
  /* Hidden by default */

  /* .nav-overlay {
      width: 0; 
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
  }
  
  .nav-overlay.open {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255, 0.98);
      overflow-x: hidden;
      transition: width 0.5s, visibility 0.5s, opacity 0.5s ease;
      width: 100%;
      opacity: 1;
      visibility: visible; 
  } */

/* } */

/* NAV OVERLAY
-------------------------------------------------- */
.overlay-title-wrapper, 
.overlay-close-wrapper {
  position: fixed;
  cursor: pointer;
  z-index: 99999;
}

@media (max-width: 991px) {
  .overlay-title-wrapper {
    top: 29px;
  }
 
  .overlay-close-wrapper  {
    top: 27px;
  }
}

/* xxs 0-399 */
@media (max-width: 399px) {

}

/* xs 400-575 */
@media (min-width:400px) and (max-width: 575px) {

}

/* sm 767-991 */
@media (min-width:576px) and (max-width: 767px) {

}

/* md 768-991 */
@media (min-width:768px) and (max-width: 991px) {

}

/* lg 992-1199 */
@media (min-width:992px) and (max-width: 1199px) {


}

/* xl 1200 and up */
@media (min-width: 1200px) {
}


/* NAV OVERLAY
   title
-------------------------------------------------- */

/* overlay-logo-ca-is: courtney aventura is svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.overlay-logo-ca-is svg:nth-child(2) {
    display: none;
}

/* Show the second SVG on hover, hide the first */
.overlay-logo-ca-is:hover svg:nth-child(1) {
    display: none;
}

.overlay-logo-ca-is:hover svg:nth-child(2) {
    display: inline;
}
  


/* NAV OVERLAY
   close
-------------------------------------------------- */


/* overlay-ca-close: close svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.overlay-ca-close svg:nth-child(2) {
    display: none;
}

/* Show the second SVG on hover, hide the first */
.overlay-ca-close:hover svg:nth-child(1) {
    display: none;
}

.overlay-ca-close:hover svg:nth-child(2) {
    display: inline;
}



/* NAV OVERLAY
   close
-------------------------------------------------- */



/* NAV OVERLAY
   content
-------------------------------------------------- */    
.nav-overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-overlay a {
    /* padding: 8px; */
    text-decoration: none;
    color: #800300;
    /* display: block; */
    transition: 0.3s;
}

/* .nav-overlay a:active > footer.footer {
    display: none; 
    visibility: hidden;
    height:0;
} */



/* .nav-overlay a:hover,
.nav-overlay a:focus {
    color: #f1f1f1;
} */


.nav-overlay .nav-center-wrapper-overlay {
    position: absolute;
    top: 16px;
    padding: 15px 15px 15px 0;
    /* margin-left: -10px; */
}

  
  
  
@media screen and (max-width: 575px) {
  .nav-center-wrapper-overlay  {
      left: calc(1 * (100% / 13));
  }

  .nav-overlay-content {
      padding-left: calc(1 * (100% / 13));
  }

  .closebtn  {
      right: calc(1 * (100% / 13));
  }
}
  
@media screen and (min-width: 576px) {
  .nav-center-wrapper-overlay  {
      left: calc(1 * (100% / 16));
  }

  .nav-overlay-content {
      padding-left: calc(1 * (100% / 16));
  }

  .closebtn  {
      right: calc(1 * (100% / 13));
  }
}

@media screen and (min-width: 768px) {
  .nav-center-wrapper-overlay  {
      left: calc(1 * (100% / 18));
  }
  .nav-overlay-content {
      padding-left: calc(1 * (100% / 18));
  }
  .closebtn  {
      right: calc(1 * (100% / 17));
  }
}
  
  
/* NAV OVERLAY lg and up
   overlay-sidebar
-------------------------------------------------- */
@media (max-width: 991px) {
  .overlay-sidebar  {
    margin-left: .15rem;
  }
  /* .navbar-nav .dropdown-menu  {
    display: none;
  } */
}
  
/* NAV OVERLAY lg and up
   sidebar
-------------------------------------------------- */

@media screen and (max-width: 1199px) {

  .overlay-sidebar {
    margin-top: 83px;
  }

  .overlay-footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 48px;
  }
}


@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 100px;
    margin-left: -.35rem;
    padding-top: 10px;
    padding-bottom: 16px;
    z-index: 40;
    opacity: 1;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
    overflow: hidden;
    visibility: visible; 
  }

}

   
/* Custom navbar-toggler non-toggler (expand-lg):
   lg and up
 -------------------------------------------------- */
.openbtn {
    padding-right: 2px;
    padding-left: 2em;
    border: none;
    z-index: 99;
}


@media (min-width: 992px) {
  .openbtn {
      position: fixed;
      top: 33px;
      right: calc(1 * (100% / 11));
      /* padding-top: 10px; */
  }
}


  
  /* navbar: title
  -------------------------------------------------- */
  .tsb-nav-text,
  .tsb-nav-text a,
  .ca-nav-item,
  .ca-nav-item a,
  .ca-dropdown-item,
  .nav-center-wrapper-overlay,
  .tsb-pagetitle,
  .closebtn,
  .openbtn {
    /* color: #800300 !important; */
    font-family: "ministry","helvetica neue", sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .25em;
    text-transform: uppercase;
  }
  
  /* static buttons red */
  .tsb-nav-text,
  .tsb-nav-text a,
  /* .ca-nav-item, */
  /* .ca-nav-item a, */
  /* .ca-dropdown-item, */
  .nav-center-wrapper-overlay,
  /* .tsb-pagetitle, */
  /* .closebtn, */
  .openbtn {
    color: #800300 !important;
  }
  
  
  .ca-nav-item,
  .ca-nav-item a,
  .ca-dropdown-item,
  .closebtn {
    /* color: #C8C8C8 !important; */
    color: #808080; 
  }
  
  
  /* font size */
  @media (max-width: 991px) {

  }
  
  @media (min-width: 992px) {
    /* .ca-toggler, */
    .tsb-nav-text,
    .tsb-nav-text a,
    .ca-nav-item,
    .ca-dropdown-item {
      font-size: .75rem;
    }
  }
  
  
  /* on hover and active */
  .ca-toggler:hover,
  .ca-toggler:active  a::after,
  
  /* .nav-center-wrapper:hover,
  .nav-center-wrapper:active a::after,
  .nav-center-wrapper a:hover, */
  
  .tsb-nav-text:hover,
  .tsb-nav-text:active  a::after,
  
  .ca-nav-item .active,
  .ca-nav-item:hover,
  .ca-nav-item:active  a::after,
  
  .ca-nav-item a:hover,
  .ca-nav-item a:active  a::after,
  
  .ca-dropdown-toggle .active,
  .ca-dropdown-toggle:hover,
  .ca-dropdown-toggle:active  a::after,
  
  .ca-dropdown-item .active,
  .ca-dropdown-item:hover,
  .ca-dropdown-item:active  a::after,
  
  .closebtn:hover,
  .closebtn:active  a::after {
    color: #800300 !important;
    /* font-family: "ministry","helvetica neue", sans-serif; */
    font-style: italic;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    text-decoration: none;
    /* border-bottom: 2px #800300 solid;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0; */
  }
 
  .nav-center-wrapper-overlay .ca-nav-item {
   color: #800300 !important;
  }
 
  a.nav-item.ca-nav-item:hover, 
  a.nav-item.ca-nav-item.active {
   color: #800300 !important;
   font-style: italic;
   font-weight: 500;
   letter-spacing: .25em;
   text-transform: uppercase;
   text-decoration: none;
  }
  
  .nav-center-wrapper:hover,
  .nav-center-wrapper:active {
    color: #800300 !important;
    font-family: "ministry","helvetica neue", sans-serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .25em;
    text-transform: uppercase;
 
  }
  


  /* navbar: dropdown
  -------------------------------------------------- */
  /* remove caret dropdown arrow */
  .dropdown-toggle::after {
      display:none;
  }
  
  .ca-dropdown-menu {
    border: none;
    background-color: transparent;
  }
  
  /* push content down when dropdown is open */
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: relative;
  }
  
  
  @media (max-width: 991px) {
    /* .ca-dropdown-toggle:active {
      margin-top: 25px;
    } */
    /* .ca-dropdown-menu {
      width: 250px; 
      margin-bottom: 5px;
    } */
  
  }
  
  @media (min-width: 992px) {
    /* .ca-dropdown-toggle:active {
      margin-top: 25px;
    } */
    .ca-dropdown-menu {
      width: auto;
      margin-bottom: 5px;
    }
  }
  
  
  /* remove dropdown nav-item background on hover */
  .ca-dropdown-item.active,
  .ca-dropdown-item .show,
  .ca-dropdown-item a:hover,
  .ca-dropdown-item a:active,
  .ca-dropdown-item:hover,
  .ca-dropdown-item:active {
    background-color: transparent!important;
  }
  
  .menu-level-1,
  .menu-level-2,
  .menu-level-3 {
    padding-top: 20px;
  }
  
  
  
  /* navbar: nav-item hover states
  -------------------------------------------------- */
  .ca-toggler:hover,
  .ca-toggler:active  a::after,
  
  .ca-nav-item:hover,
  .ca-nav-item:active  a::after,
  
  .ca-dropdown-toggle:hover,
  .ca-dropdown-toggle:active  a::after,
  
  .ca-dropdown-item:hover,
  .ca-dropdown-item:active  a::after,
  
  .closebtn:hover,
  .closebtn:active  a::after {
    color: #800300 !important;
    font-family: "ministry","helvetica neue", sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
  }
  
  
  
  