header {
    min-height: 66px;  
  }

/* overwrite Bootstrap defaults 
-------------------------------------------------- */
.navbar-brand {
  margin: 0px !important;
  padding: 0px !important;
}


/* logos aligned to top
-------------------------------------------------- */
.nav-left-wrapper, 
.nav-center-wrapper, 
.nav-right-wrapper {
  position: fixed;
  cursor: pointer;
  z-index: 99;
}

@media (max-width: 991px) {
  .nav-left-wrapper, 
  .nav-center-wrapper, 
  .nav-right-wrapper {
    top: 25px;
  }
}

@media (min-width: 992px) {
  .nav-left-wrapper, 
  .nav-center-wrapper, 
  .nav-right-wrapper {
    top: 25px;
  }
}

/* logos sized by height
-------------------------------------------------- */

.svg-responsive {
  height: 100%;     /* Responsive, 50% of the container's width */
  width: auto;   /* Maintain aspect ratio */
}

.logo-cdot,
.logo-ca, 
.logo-is, 
.logo-ca-is {
  height: 30px;
  width: auto;
}

.ca-toggler {
  padding-top: 5px;
}

@media (max-width: 576px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg {
    height: 20px !important;
    width: auto;
  }
}

@media (max-width: 991px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg {
    height: 24px;
    width:auto; 
  }
}

@media (min-width: 992px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg {
    height: 24px;
    width: auto;
  }
}


/* nav-left-wrapper
-------------------------------------------------- */

@media screen and (max-width: 400px) {
  .nav-left-wrapper {
    left: calc(1 * (100% / 13));
  }
}

@media screen and (max-width: 576px) {
  .nav-left-wrapper {
    left: calc(1 * (100% / 14));
  }
}

@media screen and (min-width: 576px) {
  .nav-left-wrapper {
    left: calc(1 * (100% / 16));
  }

}

@media screen and (min-width: 768px) {
  .nav-left-wrapper {
    left: calc(1 * (100% / 18));
  }
}


@media (min-width: 992px) {
  .nav-left-wrapper {
    left: calc(1 * (100% / 11));
  }
}

@media (min-width: 1200px) {
  .nav-left-wrapper {
    left: calc(1 * (100% / 12));
  }
}

@media (min-width: 1400px) {
    /* .tsb-logo {
        width: 240px;
        height: auto;
    } */
}


  
/* logo-cdot svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-cdot svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-cdot:hover svg:nth-child(1) {
  display: none;
}

.logo-cdot:hover svg:nth-child(2) {
  display: inline;
}


  
  
/* nav-center-wrapper: courtney aventura
    center with absolute positioning
-------------------------------------------------- */
.nav-center-wrapper {
  left: 50%; /* Keep horizontally centered */
  transform: translateX(-50%); /* Only horizontally center the item */
}



/* logo-ca: courtney aventura svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-ca svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-ca:hover svg:nth-child(1) {
  display: none;
}

.logo-ca:hover svg:nth-child(2) {
  display: inline;
}



  
/* nav-right-wrapper:
   fixed right
-------------------------------------------------- */

@media screen and (max-width: 575px) {
  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close  {
    right: calc(1 * (100% / 13));
  }
}

@media screen and (min-width: 576px) {
  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close {
    right: calc(1 * (100% / 16));
  }
}

@media screen and (min-width: 768px) {
  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close  {
    right: calc(1 * (100% / 17));
  }
}

@media (min-width: 992px) {
  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close  {
    right: calc(1 * (100% / 11));
  }
}




/* logo-is: courtney aventura is svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-is svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-is:hover svg:nth-child(1) {
  display: none;
}

.logo-is:hover svg:nth-child(2) {
  display: inline;
}



/* logo-ca-is: courtney aventura is svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-ca-is svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-ca-is:hover svg:nth-child(1) {
  display: none;
}

.logo-ca-is:hover svg:nth-child(2) {
  display: inline;
}
  
  



