header {
    min-height: 66px;  
  }

/* overwrite Bootstrap defaults 
-------------------------------------------------- */
.navbar-brand {
  margin: 0px !important;
  padding: 0px !important;
}


/* logos aligned to top
-------------------------------------------------- */
.nav-left-wrapper, 
.nav-center-wrapper, 
.nav-right-wrapper {
  position: fixed;
  cursor: pointer;
  z-index: 99;
}

@media (max-width: 991px) {
  .nav-left-wrapper, 
  .nav-center-wrapper, 
  .nav-right-wrapper {
    top: 25px;
  }
}

@media (min-width: 992px) {
  .nav-left-wrapper, 
  .nav-center-wrapper, 
  .nav-right-wrapper  {
    top: 25px;
  }
}

/* logos sized by height
-------------------------------------------------- */
/* xxs 0-399 */
@media (max-width: 399px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg, 
  .overlay-logo-ca-is svg, 
  .overlay-ca-close svg {
    height: 18px;
    width: auto;
  }
}

/* xs 400-575 */
@media (min-width:400px) and (max-width: 575px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg, 
  .overlay-logo-ca-is svg, 
  .overlay-ca-close svg {
    height: 20px;
    width: auto;
  }
}

/* sm 767-991 */
@media (min-width:576px) and (max-width: 767px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg, 
  .overlay-logo-ca-is svg, 
  .overlay-ca-close svg {
    height: 20px;
    width:auto; 
  }
}

/* md 768-991 */
@media (min-width:768px) and (max-width: 991px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg {
    height: 20px;
    width:auto; 
  }
}

/* lg 992-1199 */
@media (min-width:992px) and (max-width: 1199px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg {
    height: 20px;
    width: auto;
  }

  .logo-ca-is {
    padding-top: 8px;
  }

}

/* xl 1200 and up */
@media (min-width: 1200px) {
  .logo-cdot svg,
  .logo-ca svg, 
  .logo-is svg, 
  .logo-ca-is svg {
    height: 22px;
    width: auto;
  }
/* 
  .logo-ca-is {
    padding-top: 8px;
  } */
}
 


/* nav-left-wrapper, 
   nav-right-wrapper
-------------------------------------------------- */
/* xxs up to 399 */
@media (max-width: 399px) {
  .nav-left-wrapper, 
  .sidebar, 
  .overlay-title-wrapper {
    left: calc(1 * (100% / 13));
  }

  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close-wrapper  {
    right: calc(1 * (100% / 13));
  }
}

/* xs 400-575 */
@media (min-width:400px) and (max-width: 575px) {
  .nav-left-wrapper, 
  .sidebar, 
  .overlay-title-wrapper {
    left: calc(1 * (100% / 13));
  }

  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close-wrapper  {
    right: calc(1 * (100% / 13));
  }
}

/* sm 576-767 */
@media (min-width:576px) and (max-width: 767px) {
  .nav-left-wrapper, 
  .sidebar, 
  .overlay-title-wrapper {
    left: calc(1 * (100% / 16));
  }

  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close-wrapper {
    right: calc(1 * (100% / 16));
  }
}

/* md 768-991 */
@media (min-width:768px) and (max-width: 991px) {
  .nav-left-wrapper, 
  .sidebar, 
  .overlay-title-wrapper {
    left: calc(1 * (100% / 19));
  }

  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close-wrapper  {
    right: calc(1 * (100% / 19));
  }
}

/* lg 992-1199 */
@media (min-width:992px) and (max-width: 1199px) {
  .nav-left-wrapper, 
  .sidebar {
    left: calc(1 * (100% / 14));
  }
  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close-wrapper  {
    right: calc(1 * (100% / 14));
  }
}

/* xl 1200-1399 */
@media (min-width:1200px) and (max-width: 1399px) {
  .nav-left-wrapper, 
  .sidebar {
    left: calc(1 * (100% / 12));
  }

  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close-wrapper  {
    right: calc(1 * (100% / 12));
  }
}


/* xxl 1400+ */
@media (min-width: 1400px) {
  .nav-left-wrapper, 
  .sidebar {
    left: calc(1 * (100% / 16));
  }

  .nav-right-wrapper, 
  .page-title-wrapper, 
  .overlay-close-wrapper  {
    right: calc(1 * (100% / 16));
  }
}


  
/* logo-cdot svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-cdot svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-cdot:hover svg:nth-child(1) {
  display: none;
}

.logo-cdot:hover svg:nth-child(2) {
  display: inline;
}


  
  
/* nav-center-wrapper: courtney aventura
    center with absolute positioning
-------------------------------------------------- */
.nav-center-wrapper {
  left: 50%; /* Keep horizontally centered */
  transform: translateX(-50%); /* Only horizontally center the item */
}



/* logo-ca: courtney aventura svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-ca svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-ca:hover svg:nth-child(1) {
  display: none;
}

.logo-ca:hover svg:nth-child(2) {
  display: inline;
}



  
/* nav-right-wrapper
-------------------------------------------------- */

/* logo-is: courtney aventura is svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-is svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-is:hover svg:nth-child(1) {
  display: none;
}

.logo-is:hover svg:nth-child(2) {
  display: inline;
}



/* logo-ca-is: courtney aventura is svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-ca-is svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-ca-is:hover svg:nth-child(1) {
  display: none;
}

.logo-ca-is:hover svg:nth-child(2) {
  display: inline;
}
  
  



