header {
    min-height: 66px;  
  }


/* overwrite Bootstrap defaults 
-------------------------------------------------- */
.navbar-brand {
  margin: 0px !important;
  padding: 0px !important;
}

/* logos aligned to top
-------------------------------------------------- */
.logo-cdot-wrapper, 
.logo-ca-wrapper {
  cursor: pointer;
  z-index: 999999;
}

@media (max-width: 991px) {
  .logo-cdot-wrapper, 
  .logo-ca-wrapper {
    top: 25px;
  }
}

@media (min-width: 992px) {
  .logo-cdot-wrapper, 
  .logo-ca-wrapper {
    top: 25px;
  }
}

/* logos sized by height
-------------------------------------------------- */
@media (max-width: 991px) {
  .logo-cdot svg,
  .logo-ca svg {
    height: 24px;
    width: auto;
  }
}

@media (min-width: 992px) {
  .logo-cdot svg,
  .logo-ca svg {
    height: 24px;
    width: auto;
  }
}


/* logo-cdot-wrapper
-------------------------------------------------- */

@media screen and (max-width: 400px) {
  .logo-cdot-wrapper {
    position: fixed;
    left: calc(1 * (100% / 13));
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .logo-cdot-wrapper {
    position: fixed;
    left: calc(1 * (100% / 14));
    margin-left: 0;
  }
}

@media screen and (min-width: 576px) {
  .logo-cdot-wrapper {
    position: fixed;
    left: calc(1 * (100% / 16));
  }

}

@media screen and (min-width: 768px) {
  .logo-cdot-wrapper {
    position: fixed;
    left: calc(1 * (100% / 18));
    /* padding-top: 5px; */
  }
}


@media (min-width: 992px) {
  .logo-cdot-wrapper {
    position: fixed;
    left: calc(1 * (100% / 11));
    /* padding-top: 8px;
    padding-left: .55%; */
  }
}

@media (min-width: 1200px) {
  .logo-cdot-wrapper {
    position: fixed;
    left: calc(1 * (100% / 12));
    /* padding-top: 8px;
    padding-left: 1%; */
  }
}

@media (min-width: 1400px) {
    /* .tsb-logo {
        width: 240px;
        height: auto;
    } */
}


  
/* logo-cdot svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-cdot svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-cdot:hover svg:nth-child(1) {
  display: none;
}

.logo-cdot:hover svg:nth-child(2) {
  display: inline;
}


  
  
/* logo-ca-wrapper: courtney aventura
    center with absolute positioning
-------------------------------------------------- */
.logo-ca-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 999;
}



/* logo-ca: courtney aventura svg
-------------------------------------------------- */

/* Hide the second SVG initially */
.logo-ca svg:nth-child(2) {
  display: none;
}

/* Show the second SVG on hover, hide the first */
.logo-ca:hover svg:nth-child(1) {
  display: none;
}

.logo-ca:hover svg:nth-child(2) {
  display: inline;
}


  
  
/* header-right-wrapper:
    fixed right
-------------------------------------------------- */
.header-right-wrapper {
  z-index: 99;
}
@media screen and (max-width: 575px) {
  .header-right-wrapper  {
    position: fixed;
    right: calc(1 * (100% / 13));
  }
}

@media screen and (min-width: 576px) {
  .header-right-wrapper  {
    position: fixed;
    right: calc(1 * (100% / 16));
  }
}

@media screen and (min-width: 768px) {
  .header-right-wrapper  {
    position: fixed;
    right: calc(1 * (100% / 17));
  }
}

@media (min-width: 992px) {
  .header-right-wrapper  {
    position: fixed;
    right: calc(1 * (100% / 11));
  }
}
  
  
  
/* Custom navbar-toggler:
  md and down
-------------------------------------------------- */
.tsb-toggler-btn {
    position: fixed;
    /* top: 16px; */
    -webkit-transition: all .3s;
    transition: all .3s;
    /* margin: -15px 0 0 -15px; */
    /* right: 0; */
    padding: 15px 0 15px 15px;
    cursor: pointer;
    border: none;
    z-index: 999;
}


.tsb-toggler-btn:focus,
.tsb-toggler-btn:active {
    outline: none !important;
    box-shadow: none;
}

@media screen and (max-width: 575px) {
  .tsb-toggler-btn  {
    position: fixed;
    right: calc(1 * (100% / 13));
  }
}

@media screen and (min-width: 576px) {
  .tsb-toggler-btn  {
    position: fixed;
    right: calc(1 * (100% / 16));
  }
}

@media screen and (min-width: 768px) {
  .tsb-toggler-btn  {
    position: fixed;
    right: calc(1 * (100% / 17));
  }
}

@media (min-width: 992px) {
  .tsb-toggler-btn  {
    position: fixed;
    right: calc(1 * (100% / 10));
  }
}
  
/* Custom navbar-toggler non-toggler (expand-lg):
   lg and up
 -------------------------------------------------- */
 .openbtn {
    padding-right: 2px;
    padding-left: 2em;
    border: none;
    z-index: 99;
  }
  
  @media (max-width: 991px) {
    .tsb-pagetitle {
      margin-top: 75px;
    }
  }
  
  @media (min-width: 992px) {
    .openbtn {
      position: fixed;
      top: 33px;
      right: calc(1 * (100% / 11));
      /* padding-top: 10px; */
    }
  
    .tsb-pagetitle {
      margin-top: 101px;
    }
  }
  
  @media (min-width: 1200px) {
    .tsb-pagetitle {
      position: fixed;
      top: 45px;
      right: calc(1 * (100% / 11));
      /* padding-top: 10px; */
    }
  
    .tsb-pagetitle {
      margin-top: 65px;
    }
  }
  
  
  /* navbar: title
  -------------------------------------------------- */
  .logo-ca-wrapper,
  .tsb-toggler,
  .tsb-toggler,
  .tsb-nav-text,
  .tsb-nav-text a,
  .tsb-nav-item,
  .tsb-nav-item a,
  .tsb-dropdown-item,
  .logo-ca-wrapper-overlay,
  .tsb-pagetitle,
  .closebtn,
  .openbtn {
    /* color: #800300 !important; */
    font-family: "ministry","helvetica neue", sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .25em;
    text-transform: uppercase;
  }
  
  /* static buttons red */
  .logo-ca-wrapper,
  .tsb-toggler,
  .tsb-toggler,
  .tsb-nav-text,
  .tsb-nav-text a,
  /* .tsb-nav-item, */
  /* .tsb-nav-item a, */
  /* .tsb-dropdown-item, */
  .logo-ca-wrapper-overlay,
  .tsb-pagetitle,
  /* .closebtn, */
  .openbtn {
    color: #800300 !important;
  }
  
  
  .tsb-nav-item,
  .tsb-nav-item a,
  .tsb-dropdown-item,
  .closebtn {
    color: #C8C8C8 !important;
  }
  
  
  /* font size */
  @media (max-width: 991px) {
      .logo-ca-wrapper,
      .tsb-toggler,
      .tsb-nav-text,
      .tsb-nav-text a,
      .tsb-nav-item,
      .tsb-dropdown-item,
      .logo-ca-wrapper-overlay,
      .tsb-pagetitle,
      .closebtn,
      .openbtn {
        font-size: .65rem;
      }
  }
  
  @media (min-width: 992px) {
    .logo-ca-wrapper,
    .tsb-toggler,
    .tsb-nav-text,
    .tsb-nav-text a,
    .tsb-nav-item,
    .tsb-dropdown-item,
    .logo-ca-wrapper-overlay,
    .tsb-pagetitle,
    .closebtn,
    .openbtn {
      font-size: .75rem;
    }
  }
  
  
  /* on hover and active */
  .tsb-toggler:hover,
  .tsb-toggler:active  a::after,
  
  .logo-ca-wrapper:hover,
  .logo-ca-wrapper:active a::after,
  .logo-ca-wrapper a:hover,
  
  .tsb-nav-text:hover,
  .tsb-nav-text:active  a::after,
  
  .tsb-nav-item .active,
  .tsb-nav-item:hover,
  .tsb-nav-item:active  a::after,
  
  .tsb-nav-item a:hover,
  .tsb-nav-item a:active  a::after,
  
  .tsb-dropdown-toggle .active,
  .tsb-dropdown-toggle:hover,
  .tsb-dropdown-toggle:active  a::after,
  
  .tsb-dropdown-item .active,
  .tsb-dropdown-item:hover,
  .tsb-dropdown-item:active  a::after,
  
  .closebtn:hover,
  .closebtn:active  a::after {
    color: #800300 !important;
    /* font-family: "ministry","helvetica neue", sans-serif; */
    font-style: italic;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    text-decoration: none;
    /* border-bottom: 2px #800300 solid;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0; */
  }
 
  .logo-ca-wrapper-overlay .tsb-nav-item {
   color: #800300 !important;
  }
 
  a.nav-item.tsb-nav-item:hover, 
  a.nav-item.tsb-nav-item.active {
   color: #800300 !important;
   font-style: italic;
   font-weight: 500;
   letter-spacing: .25em;
   text-transform: uppercase;
   text-decoration: none;
  }
  
  .logo-ca-wrapper:hover,
  .logo-ca-wrapper:active {
    color: #800300 !important;
    font-family: "ministry","helvetica neue", sans-serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .25em;
    text-transform: uppercase;
 
  }
  
  /* navbar: dropdown
  -------------------------------------------------- */
  /* remove caret dropdown arrow */
  .dropdown-toggle::after {
      display:none;
  }
  
  .tsb-dropdown-menu {
    border: none;
    background-color: transparent;
  }
  
  /* push content down when dropdown is open */
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: relative;
  }
  
  
  @media (max-width: 991px) {
    /* .tsb-dropdown-toggle:active {
      margin-top: 25px;
    } */
    /* .tsb-dropdown-menu {
      width: 250px; 
      margin-bottom: 5px;
    } */
  
  }
  
  @media (min-width: 992px) {
    /* .tsb-dropdown-toggle:active {
      margin-top: 25px;
    } */
    .tsb-dropdown-menu {
      width: 250px;
      margin-bottom: 5px;
    }
  }
  
  
  /* remove dropdown nav-item background on hover */
  .tsb-dropdown-item.active,
  .tsb-dropdown-item .show,
  .tsb-dropdown-item a:hover,
  .tsb-dropdown-item a:active,
  .tsb-dropdown-item:hover,
  .tsb-dropdown-item:active {
    background-color: transparent!important;
  }
  
  .menu-level-1,
  .menu-level-2,
  .menu-level-3 {
    padding-top: 20px;
  }
  
  
  
  /* navbar: nav-item hover states
  -------------------------------------------------- */
  .tsb-toggler:hover,
  .tsb-toggler:active  a::after,
  
  .tsb-nav-item:hover,
  .tsb-nav-item:active  a::after,
  
  .tsb-dropdown-toggle:hover,
  .tsb-dropdown-toggle:active  a::after,
  
  .tsb-dropdown-item:hover,
  .tsb-dropdown-item:active  a::after,
  
  .closebtn:hover,
  .closebtn:active  a::after {
    color: #800300 !important;
    font-family: "ministry","helvetica neue", sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
  }
  
  
  
  
  
  /* NAV OVERLAY
    md and down
  -------------------------------------------------- */
  @media (max-width: 991px) {
    .nav-overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        background-color: rgb(255,255,255);
        background-color: rgba(255,255,255, 0.99);
        overflow-x: hidden;
        transition: 0.5s;
    }
  
    .nav-overlay-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
  
    .nav-overlay a {
        /* padding: 8px; */
        text-decoration: none;
        color: #800300;
        display: block;
        transition: 0.3s;
    }
 
    /* .nav-overlay a:active > footer.footer {
      display: none; 
      visibility: hidden;
      height:0;
    } */
 
 
  
    /* .nav-overlay a:hover,
    .nav-overlay a:focus {
        color: #f1f1f1;
    } */
  
    .navbar-nav .dropdown-menu {
      display: none;
    }
  
    .nav-overlay .logo-ca-wrapper-overlay {
      position: absolute;
      top: 16px;
      padding: 15px 15px 15px 0;
      /* margin-left: -10px; */
    }
  
    .nav-overlay .tsb-pagetitle {
      position: absolute;
      top:0;
      /* margin-bottom: 75px; */
      visibility:hidden;
    }
  
    .nav-overlay .closebtn {
        position: absolute;
        top: 16px;
    }
    .closebtn {
        /* position: absolute; */
        -webkit-transition: all .3s;
        transition: all .3s;
        /* margin: 0 0 0 -15px; */
        padding: 15px 0 15px 15px;
        cursor: pointer;
        border: none;
        z-index: 99;
    }
  
    .sidebar {
      /* margin-top: 125px; */
      margin-top: 83px;
    }
  }
  
  
  
  @media screen and (max-width: 575px) {
    .logo-ca-wrapper-overlay  {
      left: calc(1 * (100% / 13));
    }
  
    .nav-overlay-content {
      padding-left: calc(1 * (100% / 13));
    }
  
    .closebtn  {
      right: calc(1 * (100% / 13));
    }
  }
  
  @media screen and (min-width: 576px) {
    .logo-ca-wrapper-overlay  {
      left: calc(1 * (100% / 16));
    }
  
    .nav-overlay-content {
      padding-left: calc(1 * (100% / 16));
    }
  
    .closebtn  {
      right: calc(1 * (100% / 13));
    }
  }
  
  @media screen and (min-width: 768px) {
    .logo-ca-wrapper-overlay  {
      left: calc(1 * (100% / 18));
    }
    .nav-overlay-content {
      padding-left: calc(1 * (100% / 18));
    }
    .closebtn  {
      right: calc(1 * (100% / 17));
    }
  }
  
  
  
  /* NAV OVERLAY
    lg and up
  -------------------------------------------------- */
  @media (min-width: 992px) {
    .logo-ca-wrapper-overlay {
      position: absolute;
      left: 50px;
      top: 16px;
    }
  
    .nav-overlay {
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 99;
      color: #800300 !important;
    }
  
    .nav-overlay-content {
        position: fixed;
        width: 250px;
        margin-top: 100px;
        padding-left: 40px;
    }
  
    .nav-overlay-content {
      margin-right: auto;
      margin-left: auto;
      max-width: 1600px; /* or 950px */
    }
  }
  
  /* sidebar nav
    lg and up
  -------------------------------------------------- */
  @media (min-width: 992px) {
    .sidebar  {
      position: fixed;
      left: calc(1 * (100% / 11));
      top: 100px;
      padding-top: 10px;
      margin-left: -.15%;
      padding-bottom: 16px;
      z-index: 40;
      opacity: 1;
      -webkit-transition: opacity .6s ease;
      transition: opacity .6s ease;
      overflow: hidden;
  
    }
  }