/* ca-page-title
-------------------------------------------------- */
.page-title-wrapper {
    position: fixed;
  }



/* xxs 0-399 */
@media (max-width: 399px) {
  .section-top {
    margin-top: 60px;
    margin-bottom: 75px;
  }

  .page-title-wrapper {
    top: 80px;
  }
  .page-title-2line {
    height: 39px;
    width: auto;
  }
  .page-title-3line {
      height: 65.5px;
      width: auto;
  }
}

/* xs 400-575 */
@media (min-width:400px) and (max-width: 575px) {
  .section-top {
    margin-top: 64px;
    margin-bottom: 75px;
  }

  .page-title-wrapper {
    top: 80px;
  }
  .page-title-2line {
    height: 43.25px;
    width: auto;
  }
  .page-title-3line {
      height: 65.5px;
      width: auto;
  }
}


/* sm 767-991 */
@media (min-width:576px) and (max-width: 767px) {
  .section-top {
    margin-top: 64px;
    margin-bottom: 75px;
  }

  .page-title-wrapper {
    margin-top: 72px;
  }
  .page-title-2line {
    height: 43.25px;
    width: auto;
  }
  .page-title-3line {
      height: 65.5px;
      width: auto;
  }
}
  
/* md */
@media (min-width: 768px) and (max-width: 991px) {
  .section-top {
    margin-top: 72px;
    margin-bottom: 75px;
  }

  .page-title-wrapper {
    top: 88px;
  }

  .page-title-2line {
    /* height: 52px; */
    height: 43.25px;
    width: auto;
  }
  .page-title-3line {
      /* height: 78.5px; */
      height: 65.5px;
      width: auto;
  }
}

/* lg 992-1199 */
@media (min-width: 992px) and (max-width: 1199px) {
  .section-top {
    margin-top: 40px;
    margin-bottom: 75px;
  }

  .page-title-wrapper {
    top: 120px;
  }

  .page-title-2line {
    height: 43.25px;
    width: auto;
  }
  .page-title-3line {
      height: 65.5px;
      width: auto;
  }
}
  
/* xl 1200-1399 */
@media (min-width: 1200px) {
  .section-top {
    margin-top: 52px;
    margin-bottom: 75px;
  }

  .page-title-wrapper {
    top: 131px;
    /* margin-top: 88px; */
  }

  .page-title-2line {
      height: 47.5px;
      width: auto;
  }
  .page-title-3line {
      /* height: 79px; */
      height: 65.5px;
      width: auto;
  }
}



/* @media screen and (max-width: 767px) {
  .section-top {
      margin-top: 64px;
      margin-bottom: 75px;
  }
} */


/* work index homepage
-------------------------------------------------- */
@media screen and (max-width: 767px) {
  .section-top-work {
    margin-top: 64px;
  }  
}

/* Hide the second SVG initially */
.work svg:nth-child(2) {
    display: none;
}

/* Show the second SVG on hover, hide the first */
.work:hover svg:nth-child(1) {
    display: none;
}

.work:hover svg:nth-child(2) {
    display: inline;
}


/* ss-dining swank n swine
-------------------------------------------------- */
/* Hide the second SVG initially */
.ss-dining svg:nth-child(2) {
    display: none;
  }
  
  /* Show the second SVG on hover, hide the first */
  .ss-dining:hover svg:nth-child(1) {
    display: none;
  }
  
  .ss-dining:hover svg:nth-child(2) {
    display: inline;
  }

/* ss-dining swank n swine
-------------------------------------------------- */
@media (max-width: 991px) {
    /* .ss-dining, 
    .ss-dining-italic {
      height: 39px;
      width: auto;
    } */
  }
  
  @media (min-width: 992px) {
    /* .ss-dining, 
    .ss-dining-italic {
      height: 49px;
      width: auto;
    } */
  }
  
  @media (min-width: 1200px) {
    /* .ss-dining, 
    .ss-dining-italic {
        height: 59px;
        width: auto;
      } */
  }


/* spideroak
-------------------------------------------------- */

@media screen and (max-width: 767px) {  
  .so-slogan {
    margin-top: 50px;
    padding-top: 73px;
    margin-bottom: 75px;
  }
}