
/* xxs 0-399 */
@media (max-width: 399px) {
}

/* xs 400-575 */
@media (min-width:400px) and (max-width: 575px) {

}

/* sm 767-991 */
@media (min-width:576px) and (max-width: 767px) {

}

/* md 768-991 */
@media (min-width:768px) and (max-width: 991px) {

}

/* lg 992-1199 */
@media (min-width:992px) and (max-width: 1199px) {


}

/* xl 1200 and up */
@media (min-width: 1200px) {
}



/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */

.container-fluid {
  max-width: 1400px !important;
}

.h-100 {
  height: 100vh !important;
} 

.section-scroll .container-fluid {
  margin-bottom: 48px;
}

/* xxs 0-757 */
@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {
  /* .section-max-width {
  margin-right:11px !important;
  } */
  
  .section-scroll {
    padding-top: 110px;
    margin-bottom: 48px;
  }

  .h-100-center {
    height: 100vh !important;
    margin-top: -110px;
  }
}
  
@media screen and (min-width: 992px) {
  .h-100-center {
    min-height: 100vh !important;
    margin-top: -34px;
  }

  
}


  /* padding above top section
    align with nav below page title */
    /* @media screen and (max-width: 575px) {
    .section-top {
       margin-top: 50px;
     }
     .section-scroll {
       padding-top: 55px;
     }
   } */